<?xml version="1.0"?>
<configuration>
  <connectionStrings>
  <add name="myConnStr" connectionString="Data Source = 182.50.133.86;
       port= 3306;
       Integrated Security = False;
       Initial Catalog = PortfolioDB;
       User ID= Shivendra;
       Password = msmukul55@;
       SslMode = None;"
      providerName="MySql.Data.MySqlClient"/>
</connectionStrings>
  
  <system.web>
    <!--<trust level="Medium" />
    <partialTrustVisibleAssemblies>
        <add assemblyName="System.Security" publicKey="b03f5f7f11d50a3a"/>
    </partialTrustVisibleAssemblies>-->
   
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5">
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Pages/Home.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>